{% extends "base.html" %}
{% block navbar %}
{{super()}}
<div style="visibility: hidden">
    {% block user %}{{username}}{% endblock %}
</div>
<html>
<title>DesTapaISHome</title>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/hp.css') }}"/>
</head>
<body >
<div class="container">
        <button type="button" class="block"> Most rated tastings</button>
        <button type="button" class="block" onclick="location.href='/{{username}}/homepage/profile';"> Personal profile</button>
        <button type="button" class="block" onclick="location.href='/{{username}}/homepage/resume';"> Profile info and stats</button>
        <button type="button" class="block"> Friends</button>
        <button type="button" class="block"> Make favorite/add local</button>
        <button type="button" class="block"> Rate/register tasting</button>
</div>
</body>
</html>
{% endblock %}

