<title>DesTapaIS</title>

<div align="center">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <img src ="{{ url_for('static', filename='images/Logo_DesTapaIS_fondo.png') }}"
         alt = "DesTapaIS Logo" height="250" width="250" />
    <div class="jumbotron" >
      <h1 class="display-4">Login</h1>
      <p class="lead">For already registered users</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
    </div>
    <div class="jumbotron">
      <h1 class="display-4">Sign in</h1>
      <p class="lead">For new users</p>
      <hr class="my-4">
      <p>Sign in process is easy and fast!</p>
      <a class="btn btn-primary btn-lg" href="sign_in" role="button">Sign in</a>
    </div>
</div>
<style>
    body{
        background-image: url("{{ url_for('static', filename='images/wallpaper_comida.jpg') }}");
    }
    .jumbotron {
        background: rgba(204, 204, 204, 0.55)
    }
</style>
