{% extends "base.html" %}
{% block navbar %}
{{super()}}
<div style="visibility: hidden">
    {% block user %}{{username}}{% endblock %}
    {% block user2 %}{{username}}{% endblock %}
    {% block user3 %}{{username}}{% endblock %}
    {% block user4 %}{{username}}{% endblock %}
</div>
<title>Most Valued Tastings</title>
<div class="list-group">
    {% if not degustaciones %}
    There isn't any tasting yet!
    {% endif %}
    {% for e in degustaciones %}
    <a href="/{{username}}/tastings/{{e[0]}}" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{e[2]}}</h3>
            <strong>Description:</strong> {{e[3]}}
            <br>
            <strong>Valoration:</strong> {{e[14]}}
        </div>
        <p class="mb-1"><strong>Registered on </strong>{{e[4]}}</p>
        <img alt="Tasting pic" src="data:;base64,{{ foto[loop.index0] }}" class="img-square img-responsive">
    </a>
    <br>
    {% endfor %}
</div>
{% endblock %}