<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pr.css') }}"/>
</head>
<body>

</div>
<div class="profile_box">
    <div class="profilepic"><img src="{{ url_for('static', filename='images/avatar.jpg') }}" height="140px"/></div>
    <div class="box11">Timeline</div>
    <div class="box12">About</div>
    <div class="box13">Friends</div>
    <div class="box14">Photos</div>
    <select>
        <option selected>More</option>
        <option value="saab">Videos</option>
        <option value="opel">Places</option>
        <option value="audi">Pages</option>
    </select>

</div>


</body>

</html>