{% extends "base.html" %}
{% block navbar %}
{{super()}}
<div style="visibility: hidden">
    {% block user %}{{username}}{% endblock %}
    {% block user2 %}{{username}}{% endblock %}
    {% block user3 %}{{username}}{% endblock %}
    {% block user4 %}{{username}}{% endblock %}
</div>
<title>Search Results</title>
<div class="list-group">
    {% if request[0] == "Usuario" %}
    {% for e in request[1] %}
    <a class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{e[1]}}</h3>
            <strong>Email:</strong> {{e[3]}}
            <br>
            <strong>Name and surname:</strong> {{e[5]}} {{e[6]}}
        </div>
    </a>
    <br>
    {% endfor %}
    {% elif request[0] == "Degustacion" %}
    {% for e in request[1] %}
    <a href="/{{username}}/tastings/{{e[0]}}" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{e[2]}}</h3>
            <strong>Description:</strong> {{e[3]}}
            <br>
            <strong>Type:</strong> {{e[5]}}
        </div>
    </a>
    <br>
    {% endfor %}
    {% else %}
    {% for e in request[1] %}
    <a href="/{{username}}/locals/{{e[0]}}" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{e[1]}}</h3>
            <strong>Address:</strong> {{e[2]}}
        </div>
    </a>
    <br>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}