{% extends "base.html" %}
{% block navbar %}
{{super()}}
<div style="visibility: hidden">
    {% block user %}{{username}}{% endblock %}
    {% block user2 %}{{username}}{% endblock %}
</div>
<title>Search</title>
<form method="POST" enctype="multipart/form-data">
    <select id="category" name="category" required>
        <option value="None" selected>Select a category</option>
        <option value="Degustacion">Tasting</option>
        <option value="Usuario">Users</option>
        <option value="Local">Locals</option>
    </select>
    <input name="text" type="text" class="form-control" placeholder="What are you looking for?"
           aria-label="Text input with dropdown button" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Search</button>
</form>
{% endblock %}